
 <body class="kampanya">
    <div class="kampaside">
    <div class="kampnesne">
      <a id="heal" href="">♡</a>
      <img class="phone" src="~/@ViewBag.Resim1.Resimadi" alt="">
      <p>@ViewBag.Resim1.Bilgi</p>
      <p><del>₺20.999,00 </del> <span style="margin-left:10px; font-size: 25px;"> <b> @ViewBag.Resim1.Fiyat</b></span></p>
    </div>
    <div class="kampnesne">
      <a id="heal" href="">♡</a>
      <img class="phone" src="~/@ViewBag.Resim2.Resimadi" alt="">
      <p>@ViewBag.Resim2.Bilgi</p>
      <p><del>₺18.999,00 </del> <span style="margin-left:10px; font-size: 25px;"> <b> @ViewBag.Resim2.Fiyat</b></span></p>
    </div>
  </div>
 </body>
  
  


